<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="tcp://localhost:8086/s1"/>
    <add key="tcp://localhost:8087/s2"/>
    <add key="tcp://localhost:8088/s3"/>
    <add key="tcp://localhost:8089/s4"/>
  </appSettings>
</configuration>